<footer class="bg-gray-800 text-white py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center sm:flex-row sm:justify-between">
    <span class="text-sm text-gray-400">&copy; <%= new Date().getFullYear() %> CluzaProfileFinal. All rights reserved.</span>
    <div class="flex space-x-4 mt-4 sm:mt-0">
      <a href="#" class="text-sm text-gray-400 hover:text-white">GitHub</a>
      <a href="#" class="text-sm text-gray-400 hover:text-white">LinkedIn</a>
      <a href="#" class="text-sm text-gray-400 hover:text-white">Twitter</a>
    </div>
  </div>
</footer>
